In [ ]:
list1 = [10, 20, 11, 10, 30, 40, 50, 45, 40, 30, 10, 21]
add=sum(list1)
total=len(list1)
mean=add/total
print('Mean'+str(mean))

Mean26.416666666666668

In [ ]:
no = len(list1)
list1.sort()
if no % 2 == 0:
    m1 = list1[no//2]
    m2 = list1[no//2 - 1]
    median = (m1 + m2)/2
else:
    median = list[no//2]
print("Median is "+str(median))

Median is 25.5

In [ ]:
from math import sqrt
var=0
for i in list1 :
    var+=(i-mean)**2/(len(list1)-1)
stddev = sqrt(var) 
print('Standard Deviation','%.2f' % stddev)

Standard Deviation 14.81

In [ ]:
#Write a function to get mean, median, stddev of a list without inbuilt
list1= [10, 20, 11, 10, 30, 40, 50, 45, 40, 30, 10, 21]
total_len=0
add=0
var=0
n=2
for i in list1:
  add+=i
  total_len+=1
mean=add/total_len
print('Mean is '+str(mean))

for i in list1:
  var+=(i-mean)**2/(total_len)
stddev=var**0.5
print('Standard Deviation','%.2f' % stddev)

sortedlist = []
while list1:
    minimum = list1[0]
    for x in list1: 
        if x < minimum:
            minimum = x
    sortedlist.append(minimum)
    list1.remove(minimum)    
# print(sortedlist)
if no % 2 == 0:
    m1 = sortedlist[total_len//2]
    m2 = sortedlist[total_len//2 - 1]
    median = (m1 + m2)/2
else:
    median = sortedlist[total_len//2]
print("Median is "+str(median))

Mean is 26.416666666666668
Standard Deviation 14.18
Median is 25.5

In [ ]:
#Write a function to get customer id of 4th max score
import pandas as pd
df=pd.DataFrame({'customer id':[1,2,3,4,5,6,7,8,9,10,11,12],'Score':[2,3,78,21,43,76,2,5,121,0,1,95]})
largest=df.nlargest(4,'Score')
print('Customer id 6 with score ',largest.iloc[3]['Score'])

Customer id 6 with score  76

In [ ]:
#Split DPD information In to the part of 3 from left to right
df1=pd.DataFrame({'customer id':[1,2,3],'dpd':['000000000450009000032','000000000000000000000000','908745321000876520000']})
df1
# df1['dpd'].str.split()
# df1['dpd']=df1['dpd'].apply(lambda x: [x[(i):(i+3)] for i in range(0,len(x),3)])
# df1

   customer id                       dpd
0            1     000000000450009000032
1            2  000000000000000000000000
2            3     908745321000876520000

In [ ]:
df1['dpd']=df1['dpd'].map(lambda x: [x[(i):(i+3)] for i in range(0,len(x),3)])
df1
dpd_dict=dict(df1['dpd'])
dpd_dict
s1=pd.Series(dpd_dict[0])
s2=pd.Series(dpd_dict[1])
s3=pd.Series(dpd_dict[2])
list1=['DPD1','DPD2','DPD3','DPD4','DPD5','DPD6','DPD7','DPD8','DPD9']
val=pd.DataFrame(list1)
val['0']=s1
val['1']=s2
val['2']=s3
d=val.set_index(0).T
d['customer id']=list(df1['customer id'].values)
d.set_index('customer id')

0           DPD1 DPD2 DPD3 DPD4 DPD5 DPD6 DPD7 DPD8 DPD9
customer id
1            000  000  000  450  009  000  032  NaN  NaN
2            000  000  000  000  000  000  000  000  NaN
3            908  745  321  000  876  520  000  NaN  NaN

In [ ]:
#Find no of Veg pizza order in  last 3 month From single flat
df2=pd.DataFrame({'flat no':[101,101,101,101,101,102,102,102,102,102,103,103],
                  'order by':['Raj','Raj','Raj','Priyanka','Priyanka','Rohan','Rohan','Rohan','Rohan','Rohan','Rahul','Rahul'],
                  'type':['Veg','Veg','Veg','Veg','Veg','Veg','Veg','Non-Veg','Non-Veg','Veg','Non-Veg','Non-Veg'],
                  'Date Order':['2022-01-01','2022-01-24','2022-03-10','2022-05-19','2022-06-08','2022-01-01','2022-01-24','2022-04-24','2022-06-23','2022-06-24','2022-01-01','2022-01-24']})
type_date= df2[df2['Date Order'].between('2022-04-01','2022-06-30') & (df2['type']=='Veg')]
type_date
cnt=type_date.groupby('flat no')['type'].count()
pd.DataFrame(cnt)

         type
flat no
101         2
102         1

In [ ]:
df2['Date_Order3']=df2['Date Order'].between('2022-04-01','2022-06-30')
df2['Date_Order3']

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7      True
8      True
9      True
10    False
11    False
Name: Date_Order3, dtype: bool

In [ ]:
df2['type_date']=(df2['type']=='Veg') & df2['Date Order'].between('2022-04-01','2022-06-30')
df2['type_date']

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9      True
10    False
11    False
Name: type_date, dtype: bool

In [ ]:
#Find the no of house owned by Cust ID 1 and 2 other than current living homes.(consider only owned house)Also mapped flag type based on sqft table.
df3=pd.DataFrame({'CustId':[1,1,1,1,1],'home city':['Current','pune','pune','pune','Mumbai'],'home type':['rent','owner','owner','owner','rent'],'sqft':[1000,340,356,1250,17000]})
df3
def type1(sqft):
  if 0 <= sqft <= 400:
    return '1Bhk'
  if 400 <= sqft <= 800:
    return '2Bhk'
  if 800 <= sqft <= 1600:
    return '3Bhk'
  if 1600 <= sqft:
    return 'villa'
type1(1200)

   CustId home city home type   sqft
0       1   Current      rent   1000
1       1      pune     owner    340
2       1      pune     owner    356
3       1      pune     owner   1250
4       1    Mumbai      rent  17000

In [ ]:
df3['type'] = df3['sqft'].apply(type1)
df3

   CustId home city home type   sqft   type
0       1   Current      rent   1000   3Bhk
1       1      pune     owner    340   1Bhk
2       1      pune     owner    356   1Bhk
3       1      pune     owner   1250   3Bhk
4       1    Mumbai      rent  17000  villa

In [ ]:
own=df3[df3['home type']=='owner']
no_of_house=own.groupby('home city').agg({'type':'value_counts'})
no_of_house

                type
home city type
pune      1Bhk     2
          3Bhk     1

In [ ]:
df3.replace(to_replace=1,
           value=2,inplace=True)
df3.replace(to_replace='rent',
           value='owner',inplace=True)
df3.loc[1,"home type"]="rent"
df3.replace(to_replace=[340,356],value=[700,300],inplace=True)
df3.drop(df3.columns[4],axis=1)

   CustId home city home type   sqft
0       2   Current     owner   1000
1       2      pune      rent    700
2       2      pune     owner    300
3       2      pune     owner   1250
4       2    Mumbai     owner  17000

In [ ]:
pm=df3[(df3['home city']=='pune') | (df3['home city']=='Mumbai')]
pm=pm.groupby('home city').agg({'type':'value_counts'})
pm

                 type
home city type
Mumbai    villa     1
pune      1Bhk      2
          3Bhk      1